	
	{% extends 'base.html.twig' %}
	{% block title %}Portada{% endblock %}
	{% block main %}
		{{ parent() }}
		<p>Esta es la portada del sitio web <b>SymfoPlaces</b>.</p>
		
		
	
	
					 
		    </a>
		    <figcaption>{# lugar.nombre #}</figcaption>
		 </figure>
		 {# endfor #}
	</div>
		    		
{% endblock %}


