{% extends 'base.html.twig' %}

{% block title %}New Foto{% endblock %}

{% block main %}
    <h1>Create new Foto</h1>

    {{ include('foto/_form.html.twig') }}

    <a href="{{ path('app_foto_index') }}">back to list</a>
{% endblock %}
